@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@293&family=Roboto+Slab:wght@503&display=swap');

:root {
    --color: rgb(14, 161, 224);
    --color: rgb(49, 56, 198);
}

* {
    width: 90%;
    height: auto;
}

header img {
    height: 5rem;
    width: auto;
}

article {
    position: absolute;
}


h1, h2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 503;
    font-style: normal;
}

p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 293;
    font-style: normal;
}

.sociallinks {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
}

.small {
    float: right;
    height: 10px;
}